default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - DrevOps\BehatScreenshotExtension\Context\ScreenshotContext
        authentication:
            paths:
                - '%paths.base%/tests/Authentication/Behat/Features'
            contexts:
                - Tests\Authentication\Behat\Context\RedirectUnauthenticatedUserContext
                - Tests\Authentication\Behat\Context\UserLoginContext
                - Tests\Authentication\Behat\Context\UserLogoutContext
                - Tests\Authentication\Behat\Context\AuthenticationContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: Shared\Infrastructure\Symfony\Kernel
                environment: test
        Behat\MinkExtension:
            base_url: 'https://localhost'
            sessions:
                symfony:
                    symfony: ~
        DrevOps\BehatScreenshotExtension: ~
